<mat-toolbar>
  <a class="pointer" routerLink="/">Indexcards</a>
  @if (isLoggedIn()) {
    <span class="spacer"></span>
    <button
      matIconButton
      [matMenuTriggerFor]="accountMenu"
      [attr.aria-label]="'account.menu' | translate"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <a mat-menu-item routerLink="/account">
        <mat-icon>manage_accounts</mat-icon>
        <span>{{ 'account.title' | translate }}</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{ 'account.logout' | translate }}</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>
