.full-width {
  width: 100%;
}

.centering {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.form-container {
  margin-top: 50px;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: solid 3px var(--mat-sys-primary-container);
}

.center {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 80%;
}


/* Responsive design */
@media (max-width: 1024px) {
  .form-container {
    width: 90%;
  }

  .container {
    width: 95%;
  }
}
