@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  /*https://m2.material.io/design/color/the-color-system.html#color-theme-creation*/
  --darkgrey: #232323;
  --lightgrey: #ababab;
  --deepPurple50: #EDE7F6;
  --deepPurple100: #D1C4E9;
  --deepPurple200: #B39DDB;
  --deepPurple300: #9575CD;
  --deepPurple400: #7E57C2;
  --deepPurple500: #673AB7;
  --deepPurple600: #5E35B1;
  --deepPurple700: #512DA8;
  --deepPurple800: #4527A0;
  --deepPurple900: #311B92;
  --deepPurpleA100: #B388FF;
  --deepPurpleA200: #7C4DFF;
  --deepPurpleA400: #651FFF;
  --deepPurpleA700: #6200EA;
  --error: #E63946;
  --bad: #CD7575;
  --ok: #CDC475;
  --good: #87CD75;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    background: var(--darkgrey);
}
app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

textarea {
  width: 100%;
}

label {
    font-size: larger;
    float: left;
    padding-bottom: 10px;
}

.container {
    border: 0 none;
    border-radius: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 30px 10% 0 10%;
    text-align: center;
    min-height: 70vh;
}

@media (max-width: 480px) {
  .container {
    margin: 0;
    width: 100%;
  }
}

.error {
    font-size: large;
    color: var(--error);
    text-align: left;
}

/* unvisited link */
a:link {
  color: var(--deepPurple200);
}

/* visited link */
a:visited {
  color: var(--deepPurple300);
}

/* mouse over link */
a:hover {
  color: var(--deepPurple50);
}

/* selected link */
a:active {
  color: var(--deepPurple50);
}

.title {
  text-align: left;
}

.p-inputtextarea:focus:valid {
  border-color: var(--deepPurple700);
}

.p-inputtext:focus:valid {
  border-color: var(--deepPurple700);
}
