@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background: #A8DADC;
    color: white;
    width: 100%;

}
app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    font-size: larger;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #F1FAEE;
    color: white;
    transition: 0.1s;
}

button:hover {
    background-color: #00000050
}

input {
    padding: 15px;
    border-radius: 5px;
    border: 3px solid #F1FAEE;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat, serif;
    color: #000000;
    font-size: larger;
    background-color: #fbfdf6;
}

label {
    font-size: larger;
    float: left;
    padding-bottom: 10px;
}

.container {
    background: #457B9D;
    border: 0 none;
    border-radius: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 30px 10% 0 10%;
    text-align: center;

    /*stacking fieldsets above each other*/
    position: relative;
}

.error {
    font-size: x-large;
    color: #E63946;
    text-align: left;
}

/* unvisited link */
a:link {
  color: #1D3557;
}

/* visited link */
a:visited {
  color: #1D3557;
}

/* mouse over link */
a:hover {
  color: #F1FAEE;
}

/* selected link */
a:active {
  color: #1D3557;
}

.title {
  text-align: left;
}
