<div class="container">
  <div class="header-container">
    <h1 class="title">
      {{ 'project.your_projects' | translate }}
    </h1>
    <p-button [styleClass]="'p-button p-button-icon-only p-button-rounded'" icon="pi pi-plus"
              routerLink="createProject"></p-button>
  </div>
  <div *ngIf="userProjectsResponse!">
    <div *ngFor="let project of userProjectsResponse">
      <div class="project">
        <div (click)="goToProject(project.id)" class="projectName">
          {{ project.name }}
        </div>
        <div>
          <p-button class="mr15" [styleClass]="'p-button p-button-icon-only p-button-rounded'" icon="pi pi-pencil"
                    (click)="editProject(project.id)"></p-button>
          <p-toast></p-toast>
          <p-confirmPopup></p-confirmPopup>
          <p-button [styleClass]="'p-button p-button-icon-only p-button-rounded'" icon="pi pi-trash"
                    (click)="confirm($event, project.id)"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
