<div class="container">
  <div class="header-container">
    <h1 class="title">
      Your Projects
    </h1>
    <i class="pi pi-plus header-icon" routerLink="createProject"></i>
  </div>
  <div *ngIf="userProjectsResponse!">
    <div *ngFor="let project of userProjectsResponse!.projectResponses">
      <div class="project">
        <div (click)="goToProject(project.id)" class="projectName">
          {{ project.name }}
        </div>
        <i class="pi pi-trash trash-icon"></i>
      </div>
    </div>
  </div>
</div>
