<div class="container">
    <div class="header-container">
        <h1 class="title">
            Your Projects
        </h1>
        <button routerLink="createProject">
            Create Project
        </button>
    </div>
    <div *ngFor="let project of userProjectsResponse!.projectResponses">
        <div class="project">
            <div (click)="goToProject(project.id)" class="projectName">
             {{ project.name }}
            </div>
            {{ project.indexCardResponses.length }}
        </div>
    </div>
</div>
