<form [formGroup]="loginFormGroup" (ngSubmit)="makeLogin()">
  <div class="container">
    <div class="container center">
      <div class="form-input form-group">
        <label for="username">
          Username
        </label><br>
        <input pInputText formControlName="username" name="username" id="username" type="text"><br>
      </div>
      <div class="form-input form-group">
        <label for="password">
          Password
        </label><br>
        <p-password [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" formControlName="password"
          [feedback]="true" [toggleMask]="true" id="password"></p-password>
      </div>
      <p>
        Don't have an Account? Then create one <a routerLink="/signup">here</a>!
      </p>
      <button pButton type="submit">Login</button>
    </div>
  </div>
</form>
