<form #login="ngForm" (ngSubmit)="makeLogin(login)">
    <div class="container">
        <label for="username">
            Username
        </label>
        <input #username="ngModel" name="username" id="username" type="text" ngModel required>
        <div *ngIf="username.touched && username.invalid" class="error">
            Username invalid
        </div>
        <label for="password">
            Password
        </label>
        <input #password="ngModel" name="password" id="password" type="password" ngModel minlength="8" required>
        <div *ngIf="password.touched && password.invalid" class="error">
            Password invalid
        </div>
        <div *ngIf="error" class="error">
            {{error}}
        </div>
        <p>
          Don't have an Account? Then create one <a routerLink="/signup">here</a>!
        </p>
        <button type="submit">Login</button>
    </div>
</form>
