<form [formGroup]="createProjectFormGroup" (ngSubmit)="createProject()">
  <div class="container">
    <h1 class="title">
      {{ 'project.create_project' | translate }}
    </h1>
    <div class="form-input form-group">
      <label for="name">
        {{ 'project.project_name' | translate }}
      </label><br>
      <input pInputText formControlName="name" name="name" id="name" type="text"><br>
    </div>
    <button pButton type="submit">{{ 'project.create_project_button' | translate }}</button>
  </div>
</form>
