.p-button {
  width: 100%;
  display: block;
}

label {
  margin-top: 5px;
}

input {
  width: 100%;
}

.container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
