<div style="height: 60vh" class="container">
  <div class="indexcard-container">
    <div class="indexcard">
      <p-scrollPanel [style]="{width: '100%', height: '40%'}">
        <div class="indexcard-text" [innerHTML]="getIndexCard()?.question" ></div>
      </p-scrollPanel>
      <button pButton class="show-answer-button" (click)="showAnswer = !showAnswer">
        {{ showAnswer ? ('indexcard.hide_answer' | translate) : 'indexcard.show_answer' | translate }}
      </button>
      <p-scrollPanel *ngIf="showAnswer" [style]="{width: '100%', height: '40%'}">
        <div class="indexcard-text" [innerHTML]="getIndexCard()?.answer" ></div>
      </p-scrollPanel>
    </div>
    <div class="assessment-button-container">
      <app-assessment-button class="assessment-button" [assessment]="'BAD'" (click)="assessIndexCard('BAD')"></app-assessment-button >
      <app-assessment-button class="assessment-button"  [assessment]="'OK'" (click)="assessIndexCard('OK')"></app-assessment-button >
      <app-assessment-button class="assessment-button"  [assessment]="'GOOD'" (click)="assessIndexCard('GOOD')"></app-assessment-button >
    </div>
  </div>
</div>
