.indexcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
}

.indexcard-text {
  font-size: 1.5em;
  text-align: left;
}

.indexcard {
  width: 50%;
  background-color: var(--secondary-background-color);
  height: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .indexcard {
    width: 100%;
  }
}

.assessment-button-container {
  height: 10%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  color: var(--deepPurpleA100);
}

.assessment-button {
  width: 100%;
  margin: 3px;
}
