.indexcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
}

.indexcard {
  width: 50%;
  background-color: var(--deepPurple300);
  height: 80%;
  margin-bottom: 20px;
  border-radius: 10px;
}


@media (max-width: 480px) {
  .indexcard {
    width: 100%;
  }
}

.p-button {
  background-color: var(--deepPurpleA200);
}

.p-button:enabled {
  background-color: var(--deepPurpleA200);
}

.p-button:hover {
  background-color: var(--deepPurpleA400);
}

.p-button:enabled:hover {
  background-color: var(--deepPurpleA400);
}


.assessment-button-container {
  height: 10%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  color: var(--deepPurpleA100);
}

.assessment-button {
  width: 100%;
  margin: 3px;
}
