<div style="height: 60vh" class="container">
  <div class="indexcard-container">
    <div class="indexcard">
      <h2><div [innerHTML]="getIndexCard()?.question" ></div></h2>
      <button pButton class="show-answer-button" (click)="showAnswer = !showAnswer">
        {{ showAnswer ? ('indexcard.hide_answer' | translate) : 'indexcard.show_answer' | translate }}
      </button>
      <div *ngIf="showAnswer">
        <h2><div [innerHTML]="getIndexCard()?.answer" ></div></h2>
      </div>
    </div>
    <div class="assessment-button-container">
      <app-assessment-button class="assessment-button" [assessment]="'BAD'" (click)="assessIndexCard('BAD')"></app-assessment-button >
      <app-assessment-button class="assessment-button"  [assessment]="'OK'" (click)="assessIndexCard('OK')"></app-assessment-button >
      <app-assessment-button class="assessment-button"  [assessment]="'GOOD'" (click)="assessIndexCard('GOOD')"></app-assessment-button >
    </div>
  </div>
</div>
