<div style="height: 60vh" class="container">
  <div class="indexcard-container">
    <div class="indexcard">
      <h2>
        {{ getIndexCard()?.question }}
      </h2>
      <button pButton class="show-answer-button" (click)="showAnswer = !showAnswer">
        {{ showAnswer ? "Hide Answer": "Show Answer" }}
      </button>
      <div *ngIf="showAnswer">
        <h2>{{ getIndexCard()?.answer }}</h2>
      </div>
    </div>
    <div class="assessment-button-container">
      <i class="pi pi-times assessment-button" (click)="assessIndexCard('BAD')"></i>
      <i class="pi pi-minus assessment-button" (click)="assessIndexCard('OK')"></i>
      <i class="pi pi-check assessment-button" (click)="assessIndexCard('GOOD')"></i>
    </div>
  </div>
</div>
