<div class="dialog-header">
  <h2 mat-dialog-title class="due-title">
    <mat-icon>schedule</mat-icon>
    {{ 'project.due_today' | translate }}
  </h2>
  <button
    matIconButton
    type="button"
    [attr.aria-label]="'project.close' | translate"
    [mat-dialog-close]="false"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <table mat-table class="due-table full-width" [dataSource]="data.projects">
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef>{{ 'project.project' | translate }}</th>
      <td mat-cell *matCellDef="let project" class="project-name">{{ project.projectName }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ 'project.total' | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef class="count-cell">
        {{ 'project.due_column' | translate }}
      </th>
      <td mat-cell *matCellDef="let project" class="count-cell">{{ project.cardCount }}</td>
      <td mat-footer-cell *matFooterCellDef class="count-cell">{{ data.cardCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
    <tr mat-footer-row *matFooterRowDef="columns"></tr>
  </table>
  <div class="dont-show-again">
    <mat-checkbox (change)="toggleDontShowAgain($event)">
      {{ 'project.due_dont_show_again' | translate }}
    </mat-checkbox>
    <p class="hint">{{ 'project.due_dont_show_again_hint' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton type="button" [mat-dialog-close]="false">
    {{ 'project.later' | translate }}
  </button>
  <button matButton="filled" type="button" [mat-dialog-close]="true">
    <mat-icon>play_arrow</mat-icon>
    {{ 'project.study_all_due' | translate }}
  </button>
</mat-dialog-actions>
