<p-menubar [model]="items" class="header">
  <ng-template pTemplate="start">
    <h1 (click)="onClickHome()">
      Indexcards
    </h1>
  </ng-template>
  <ng-template pTemplate="end">
    <i class="pi {{ isDarkTheme ? 'pi-moon': ' pi-sun'}} header-icon mr5" tooltipPosition="left"
       pTooltip="Change Design"
       (click)="toggleTheme()"></i>
    <i *ngIf="isLoggedIn()" class="pi pi-sign-out header-icon" tooltipPosition="left" pTooltip="Logout"
       (click)="logout()"></i>
  </ng-template>
</p-menubar>
