.header {
    background-color: var(--deepPurple700);
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--deepPurple50);
}

.header-icon {
  font-size: 1.75em;
}

h1 {
  cursor: pointer;
}
