<div class="container">
  <div class="header-container">
    <h1 class="title">
      {{ userProject?.projectResponse?.name }}
    </h1>
    <div class="header-icon-container">
      <i class="pi pi-plus header-icon" pTooltip="Create a new index card" (click)="onClickCreateIndexcardButton()"></i>
      <i class="pi pi-check-square header-icon" pTooltip="Start a quiz" (click)="onClickQuizButton()"></i>
    </div>
  </div>
  <div class="indexcardContainer">
    <div *ngFor="let indexcard of userProject?.projectResponse?.indexCardResponses">
      <div class="indexcard">
        <h2>
          {{ indexcard.question }}
        </h2>
      </div>
    </div>
  </div>
</div>
