<div class="container">
  <div class="header-container">
    <h1 class="title">
      {{ userProject?.projectResponse?.name }}
    </h1>
    <div class="header-icon-container">
      <p-button pTooltip="Repeat" (click)="onClickQuizButton()">Spaced Repetition</p-button>
      <i class="pi pi-plus header-icon" pTooltip="Create a new index card" (click)="onClickCreateIndexcardButton()"></i>
    </div>
  </div>
  <div class="indexcard-container">
    <div *ngFor="let indexcard of userProject?.projectResponse?.indexCardResponses">
      <div class="indexcard {{ indexcard.assessment.toString() | lowercase }}">
        <h2>
          {{ indexcard.question }}
        </h2>
      </div>
    </div>
  </div>
</div>
