.header-container {
  display: flex;
  justify-content: space-between;
}

.indexcardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.indexcard {
  background: #1D3557;
  height: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}
