<div class="container">
  <div class="header-container">
    <h1 class="title">
      {{ userProject?.name }}
    </h1>
    <div class="header-icon-container">
      <p-button
        *ngIf="canStartQuiz()"
        (click)="onClickQuizButton()"
        icon="pi pi-play"
        iconPos="left"
        label="{{ 'indexcard.spaced_repetition' | translate }}"
        class="mr15"
      />
      <p-button [styleClass]="'p-button p-button-icon-only p-button-rounded'" icon="pi pi-plus"
                pTooltip="{{ 'indexcard.create_tooltip' | translate }}"
                (click)="onClickCreateIndexcardButton()"></p-button>
    </div>
  </div>
  <div class="indexcard-container">
    <div class="indexcard {{ indexcard.assessment.toString() | lowercase }}"
         *ngFor="let indexcard of userProject?.indexCardResponses">

      <div style="width: calc(100% - 75px)">
        <p-scrollPanel [style]="{width: '100%', height: '20vh'}">
          <div class="text" [innerHTML]="indexcard.question"></div>
        </p-scrollPanel>
      </div>

      <div style="width: 48px">
        <p-button class="icon" [styleClass]="'p-button p-button-icon-only p-button-rounded icon'" icon="pi pi-trash"
                  (click)="deleteIndexCard(indexcard.indexCardId)"></p-button>
      </div>
    </div>
  </div>
</div>
