.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indexcard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 480px) {
  .indexcard-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.header-icon-container {
  display: flex;
  justify-content: space-evenly;
}

.indexcard {
  background: var(--secondary-background-color);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  justify-content: space-between;
}

.header-icon {
  color: var(--deepPurple100);
  font-size: 2.5em;
  display: flex;
  align-items: center;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.unrated {
  border: 2px solid var(--lightgrey);
}

.bad {
  border: 2px solid var(--bad);
}

.ok {
  border: 2px solid var(--ok);
}

.good {
  border: 2px solid var(--good);
}

.icon {
  color: var(--bad);
  margin-right: 10px;
  font-size: 1.5em;
  transition: filter 0.25s;
  float: right;
}

.icon:hover {
  filter: brightness(80%);
}

.text {
  font-size: 1.5em;
  margin-top: 10px;
}

p {
  margin: 0;
}

ol {
  margin: 0;
}

.edit-buttons {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-top: 10px;
}
.file-input {
  display: none;
}
