<form #signup="ngForm" (ngSubmit)="createAccount(signup)">
    <div class="container">
        <span class="p-float-label">
          <input pInputText id="username" [(ngModel)]="username" />
          <label htmlFor="username">Username</label>
        </span>
      <span class="p-float-label">
          <input pInputText id="firstname" [(ngModel)]="firstname" />
          <label htmlFor="firstname">Firstname</label>
        </span>
        <span class="p-float-label">
          <input pInputText id="surname" [(ngModel)]="surname" />
          <label htmlFor="surname">Lastname</label>
        </span>
        <label for="password">
            Password
        </label>
        <p-password [(ngModel)]="password" [feedback]="true" [toggleMask]="true" id="password"></p-password>
        <p>
            Already have an Account? Then login <a routerLink="/login">here</a>!
        </p>
        <button type="submit">Create an account</button>
    </div>
</form>
