.warning {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
}

.warning p {
  margin: 0;
}

.warning-icon {
  flex-shrink: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

button.danger {
  --mat-button-filled-container-color: var(--mat-sys-error);
  --mat-button-filled-label-text-color: var(--mat-sys-on-error);
}
