<form [formGroup]="createIndexCardFormGroup" (ngSubmit)="createIndexcard()">
  <div class="container">
    <h1 class="title">
      {{ 'indexcard.create' | translate }}
    </h1>

    <div class="form-input form-group">
      <label for="question">
        {{ 'indexcard.question' | translate }}
      </label><br>
      <textarea pInputTextarea formControlName="question" name="question" id="question" type="text"></textarea><br>
    </div>

    <div class="form-input form-group">
      <label for="answer">
        {{ 'indexcard.answer' | translate }}
      </label><br>
      <textarea pInputTextarea formControlName="answer" name="answer" id="answer" type="text"></textarea><br>
    </div>

    <button pButton type="submit">{{ 'indexcard.create' | translate }}</button>
  </div>
</form>
